<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-coolBrowser"
  version="2.1.1">
  <name>CoolBrowser</name>
  <license>Apache 2.0</license>
  <description>coolBrowser</description>
  <keywords>cordova,phonegap,permission,permissionScope</keywords>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="coolBrowser">
        <param name="ios-package" value="Browser" />
      </feature>
    </config-file>

    <js-module name="coolBrowser" src="coolBrowser.js">
      <clobbers target="coolBrowser" />
    </js-module>
    <source-file src="src/ios/CoolBrowser.swift" />

    <dependency id="cordova-plugin-add-swift-support" version="1.5.0"/>
  </platform>

</plugin>
